<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/about']">AcademicRecruit<b>GEI</b></a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item"ngbDropdown>
        <a class="nav-link dropdown-toggle" id="qualificationdropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Qualification</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/qualification']"><span class="fas fa-user-circle"></span> List</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" *ngIf="isRole('admin')" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/qualification/create']"><span class="fas fa-user-plus"></span> Create Qualification</a>
        </div>
      </li>
      <li class="nav-item"  ngbDropdown>
        <a class="nav-link dropdown-toggle" id="documentdropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Document</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/document']"><span class="fas fa-user-circle"></span> List</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" *ngIf="isRole('admin')" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/document/create']"><span class="fas fa-user-plus"></span> Create Document</a>
        </div>
      </li>
      <li class="nav-item"  ngbDropdown>
        <a class="nav-link dropdown-toggle" id="phasedropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Phase</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/phase']"><span class="fas fa-user-circle"></span> List</a>
          <a class="dropdown-item" *ngIf="isRole('admin')" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/phase/create']"><span class="fas fa-user-plus"></span> Create Phase</a>
        </div>
      </li>
      <li class="nav-item"  ngbDropdown>
        <a class="nav-link dropdown-toggle" id="committeedropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>CommitteeMember</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/committeemember']"><span class="fas fa-user-circle"></span> List</a>
          <a *ngIf="isRole('admin')" class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/committeemember/create']"><span class="fas fa-user-plus"></span> Create</a>
        </div>
      </li>
      <li class="nav-item"  ngbDropdown>
        <a class="nav-link dropdown-toggle" id="jobApplicationDropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Job Application</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/jobApplication']"><span class="fas fa-user-circle"></span> List</a>
          <a *ngIf="isRole('admin')" class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/jobApplication/create']"><span class="fas fa-address-card"></span> Create</a>
        </div>
      </li>
      <li class="nav-item"ngbDropdown>
        <a class="nav-link dropdown-toggle" id="applicantdropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Applicant</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/applicant']"><span class="fas fa-user-circle"></span> List</a>
          <a class="dropdown-item"*ngIf="isRole('admin')" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/applicant/create']"><span class="fas fa-user-plus"></span> Create Applicant</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isRole('admin')" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="playerDropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Users</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/users']"><span class="fas fa-user-circle"></span> List</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/users/create']"><span class="fas fa-user-plus"></span> Register</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" app-login-navbar></ul>
  </div>
</nav>
