<form (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>
    <div class="form-group">
      <div>
        <p>Mark</p>
        <input id="mark" name="mark" class="form-control" required [(ngModel)]="qualification.mark"/>
      </div>
      <div>
        <p>Observation</p>
        <input id="observation" name="observation" class="form-control" [(ngModel)]="qualification.observation"/>
      </div>
    </div>
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="back" type="button" [routerLink]="['/qualification/'+qualification.id]" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>
  </fieldset>
</form>
