
<form (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>
    <div class="form-group">
      <div>
        <p>PhaseNumber</p>
        <input id="phasenumber" name="phasenumber" class="form-control" required [(ngModel)]="phase.phaseNumber"/>
      </div>
      <div>
        <p>Name</p>
        <input id="name" name="name" class="form-control" [(ngModel)]="phase.name"/>
      </div>
      <div>
        <p>Initial Date</p>
        <input id="initialDate" type="date" name="initialDate" class="form-control" [(ngModel)]="phase.initialDate"/>
      </div>
      <div>
        <p>Final Date</p>
        <input id="finalDate" type="date" name="finalDate" class="form-control" required [(ngModel)]="phase.finalDate"/>
      </div>
    </div>
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="back" type="button" [routerLink]="['/phase/'+phase.id]" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>
  </fieldset>
</form>
